@use 'reset';
@use 'themes/dark';
@use 'themes/normal';
@import "variables/global";

.app{
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
.content-page{
  display: flex;
}