@use 'reset';
@use 'themes/dark';
@use 'themes/normal';
@use 'themes/orange';
@import "variables/global";

body{
  font: var(--font-m);
}

.app,
.Modal{
  color: var(--primary-color);
  font: var(--font-m);
}

.app{
  background-color: var(--bg-color);
  min-height: 100vh;
}



.content-page{
  display: flex;
}