.ArticleDetails {
  height: calc(100vh - var(--navbar-height));
  margin:1rem;
}

.avatar{
  margin: 0 auto;
}

.title{
  margin-top:1.5rem;
}

.info{
  display:flex;
  gap: 0.5rem;
}

.avatarWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

