.Popover {
  position: relative;
}

.PopoverPanel{
  display: flex;
  width: 300px !important;
  flex-direction: column;
  position: absolute;
  background: var(--inverted--primary-bg);
  padding:.5rem;
}
