.Popup{
  position: relative;
}

.topLeftOptions{
  bottom:100%;
  left:0;
}

.topRightOptions{
  bottom:100%;
  right:0;
}

.bottomLeftOptions{
  top:100%;
  right:0;
}

.bottomRightOptions{
  top:100%;
  left:0;
}