.app.dark{
  --bg-color: #090949;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted--primary-bg:#e8e8ea;
  --inverted-secondary-color: #04ff04;
  --inverted-primary-color: #9cff9c;
}