:root{
  --bg-color: #e8e8ea;
  --primary-color: #041c65;
  --secondary-color: #0449e0;
  --inverted-secondary-color: #04ff04;
  --inverted-primary-color: #9cff9c;
  --inverted--primary-bg:#041c65;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fff;
}