.orange_app_theme{
  --bg-color: #f4a004;
  --primary-color: #FBF8F4;
  --secondary-color: #FBF8F4;
  --inverted--primary-bg:#FBF8F4;
  --inverted-primary-color: #150303;
  --inverted-secondary-color: #FBF8F4;

}