

.BIG{
  .card{
    margin:15px;
  }
}



.SMALL{
  .card{
    margin: 15px;
  }

  .ArticleCardList {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
  }
}