.ProfileCard{
  padding: var(--padding-l);
  border: 1px solid var(--primary-color);
}

.input{
  margin-top:0.2rem;
}

.loading,
.error{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:40rem;
  height:10rem;
}