.DropDown {
  position: relative;
}

.menu{
  position: absolute;
  background: var(--inverted--primary-bg);
  padding:.5rem;
}

.item{
  color:var(--inverted-primary-color);
}

.topLeftOptions{
  bottom:100%;
  left:0;
}

.topRightOptions{
  bottom:100%;
  right:0;
}

.bottomLeftOptions{
  top:100%;
  right:0;
}

.bottomRightOptions{
  top:100%;
  left:0;
}